html {
    font-family: "gara1", 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-image: linear-gradient(white, rgb(260, 235, 205));
}

@font-face {
    font-family: "Allison";
    src: url("fonts/Allison_alá/Allison-Regular.ttf");
}

@font-face {
    font-family: "ABrush";
    src: url("fonts/Comforter_Brush_alá/ComforterBrush-Regular.ttf");
}

@font-face {
    font-family: "gara1";
    src: url("fonts/Cormorant_Garamond/CormorantGaramond-Medium.ttf");
}

@font-face {
    font-family: "josefin";
    src: url("fonts/Josefin_Sans/JosefinSans-VariableFont_wght.ttf");
}

@font-face {
    font-family: "josefin2";
    src: url("fonts/Josefin_Sans/JosefinSans-Italic-VariableFont_wght.ttf");
}

@font-face {
    font-family: "oregano";
    src: url("fonts/Oregano/Oregano-Italic.ttf");
}

@font-face {
    font-family: "oregano2";
    src: url("fonts/Oregano/Oregano-Regular.ttf");
}


h1 {
    color: rgb(252, 156, 152);
    text-align: center;
}

h2 {
    color: rgb(54, 51, 51);
    font-size: 30px;
    text-align: center;

}

h3 {
    color: burlywood;
    text-align: center;
}

h4 {
    font-size: 24px;
    color: rgba(252, 155, 152, 0.775);
    margin-left: 80px;
    margin-bottom: 10px
}

p {
    color: rgb(68, 65, 61);
    font-size: 24px;
    font-family: "gara1", sans-serif;
    margin: 10px;
}

li {
    font-size: x-large;
    text-align: left;
}
b{
  text-align:left; 
}
.navEA {
    background-color: rgb(260, 235, 205);
    padding: 10px;
}

button {

    border: 2px solid rgb(233, 196, 148);
    border-radius: 9px;
    background-color: rgb(233, 196, 148);
    margin-right: 10px;
    margin-top: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-decoration-style: double;
    font-weight: bold;
    font-size: medium;
}

button:hover {
    background-color: rgb(252, 156, 152);
}

a:-webkit-any-link {
    text-decoration: solid;
    font-family: "josefin";
    color: rgb(11, 9, 9);
}


.üdv {
    margin-bottom: 10px;
    margin-left: 80px;
    margin-right: 40px;
}

.signo {
    color: rgb(99, 99, 225);
    font-family: "Abrush", Verdana, Geneva, Tahoma, sans-serif;
    font-size: 35px;
    margin-left: 320px;
    margin-top: 0px;
}

img {
    height: 300px;
    box-shadow: 5 5 10 black;
    margin: 10px;
    border-radius: 10px;
}

.imgSmall {
    box-shadow: 3px 3px 5px black;
}

.profilkép {
    height: 200px;
    float:left;
    margin-bottom: 10px;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 80px;
    padding: 5px}


.szövegképjobb {
    float: right;
    width: 25%;
    height: 25%;
    margin-bottom: 10px;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 5px;
    padding: 5px;
}

.szövegképjobb2 {
    float: right;
    width: 50%;
    height: 50%;
    margin-bottom: 10px;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 5px;
    padding: 5px;}

.szövegképbal {
    float: left;
    width: 30%;
    height: 30%;
    margin-bottom: 10px;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 5px;
    padding: 5px;
}
.szövegképbal2 {
    float: left;
    width: 90%;
    height: 20%;
    margin: 40px;
    padding: 5px;
}
.sor {
    width: 90%;
    height: 90%;
    margin-left: 40px;
    margin-right: 40px;
    padding: 5px
}

.dobozdivbal {

    margin-left: 40px;
    margin-right: 40px;
    margin-top: 5px;
    margin-top: 5px;
    text-align: center;

}

.dobozdivjobb {
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 5px;
    margin-top: 5px;
    padding: 5px;
    text-align: center;
}




.dobozdiv {
    margin-left: 20px;
    margin: right 20px;
    padding: 20px;

}


.divEAlogo {
    background-color: rgb(260, 235, 205);
    color: #fd9c99;
    text-align: center;
    height: max-content;
    margin: 0px;
    padding: 5px;
    font-style: italic;
}

p.divEAlogo {
    padding-top: 10px;
    margin-top: 15px;
}

.EAlogo {
    height: 100px;
    margin: 0px;
    float: left;
}

.idézet {
    margin: 20px;
}

.bold {
    font-weight: bold;
}